@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

* {
    box-sizing: border-box;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #121214;
    background-image: url(../assets/Fundo.jpg);
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
}

header {
    
    div {
        width: 128px;
        height: 128px;
        border-radius: 100%;
        background-image: linear-gradient(to right, #9572FC, #43E7AD, #E2D45C);
        display: flex;
        justify-content: center;
        align-items: center;

        .my-photo {
            width: 120px;
            height: 120px;
            border-radius: 100%;
        }
    }
}

main {

    .section-container {
        width: 580px;
        height: auto;
        margin: 24px;
        border-radius: 8px;
        background-image: linear-gradient(to right, #9572FC, #43E7AD, #E2D45C);
    
        .card-container {
            padding: 32px;
            position: relative;
            top: 4px;
            border-radius: 8px;
            background-color: #2A2634;
    
            h2 {
                font-size: 24px;
                font-weight: 900;
                margin-bottom: 10px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: #A1A1AA;
            }

            .lists {
                display: flex;
                align-items: left;
                margin-top: 24px;
                list-style-type: none;
                
                li {
                    margin-right: 16px;
                }
            }

            .games-list {
                
                a {

                    img {
                        width: 90px;
                        height: 120px;
                        border-radius: 8px;
                    }
                }
            }

            .channels-list {

                a {

                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 100%;
                        border: 1px solid #443E54;
                    }
                }
            }

            .social-list {

                a {

                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
}